.match {
  width: 50%;
  background-color: #EEEEEE;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #cfcfcf;
}

.row {
  width: 50%;
  margin: 0 auto;
}

#time {
  display:block;
  margin: 0 auto;
  width: 20%;
}